*.class

# Package Files #
*.jar
*.war
*.ear

# intellij
*.iml
.idea

# db file #
websnapshot.properties
websnapshot.script
websnapshot.log
websnapshot.tmp

# firefox #
*debuglog.txt

!commons-entity-3.0.0-beta8.jar
!commons-entity-jpa-3.0.0-beta8.jar

# Build
target

# Netbeans
nbproject
nb-configuration.xml
nbactions.xml

# saved files
*~

# Git - Merge temp file
*.orig

