*.class

# Package Files #
*.jar
*.war
*.ear

# intellij
*.iml
.idea

# db file #
websnapshot.properties
websnapshot.script
websnapshot.log
websnapshot.tmp

# firefox #
*debuglog.txt

target

!commons-entity-3.0.0-beta8.jar
!commons-entity-jpa-3.0.0-beta8.jar

# saved files
*~
